<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/layout/layout :: main-layout(~{:: title}, ~{}, ~{:: #content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Khóa học</title>

</head>

<body>
<th:block id="content">
    <main class="d-flex justify-content-center">
        <div class="container mt-4">
            <div class="mb-4">
                <button class="btn-create btn text-white me-2">
                    <i class="fa-solid fa-plus"></i>
                    <span>Tạo khóa học</span>
                </button>
                <button class="btn-refresh btn btn-info text-white">
                    <i class="fa-solid fa-rotate-right"></i>
                    <span>Refresh</span>
                </button>
            </div>
            <div class="course-list">
                <table class="table table-hover table-content">
                    <thead>
                    <tr class="text-white">
                        <th scope="col">STT</th>
                        <th scope="col">Tên khóa học</th>
                        <th scope="col">Hình thức</th>
                        <th scope="col">Chủ đề</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr th:each="course : ${courseList}">
                        <th scope="row" th:text="${course.id}">1</th>
                        <td class="text-primary"><a th:href="@{/admin/courses/{id} (id = ${course.id})}"
                                                    th:text="${course.name}"></a></td>
                        <td th:style="${course.type == 'online' ? 'color: #F99F38;' : 'color: #0dcaf0;'}"
                            th:text="${course.type}"></td>
                        <td>
                            <th:block th:if="${not #lists.isEmpty(course.topics)}">
                                <span th:each="topic, topicIndex : ${course.topics}">
                                    <span th:text="${topic}"></span>
                                    <span th:if="${topicIndex.index < #lists.size(course.topics)-1}">, </span>
                                </span>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</th:block>

<th:block id="js">
    <script>
        const btnCreate = $(".btn-create")
        const btnRefresh = $(".btn-refresh")

        btnRefresh.on('click', () => {
            location.reload();
        })

        btnCreate.on('click', () => {
            location.href='/admin/courses/create'
        })
    </script>
</th:block>
</body>
</html>